:root {
    --input-bg: #001930;
    --input-bg-focus: #002b55;
    --button-bg: #0061ff;
    --button-bg-hover: #004acc;
    --button-bg-disabled: #44556e;
    --text-color: #e0ecff;
    --placeholder-color: #89a1c1;
}

* {
    border: 0;
    background-color: transparent;
    box-sizing: border-box;
}

.hideCursor {
    cursor: none;
}

.playerContainer {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.controlBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.controlButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.controlButtons button {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

.leftButtonStack {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: auto;
}

.leftButtonStack p {
    margin: 0 1rem;
}

.rightButtonStack {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}


.volumeBar {
    width: 7rem;
    max-width: 80px;
    height: 0.4rem;
    background-color: rgba(50,50,50,1);
    border-radius: 999px;
    overflow: hidden;
}

.volumeBarFill {
    display: block;
    height: 100%;
    background-color: rgba(200,200,200,1);
}

.progressBar {
    width: 97%;
    height: 0.4rem;
    background-color: rgba(50,50,50,1);
    border-radius: 999px;
    overflow: hidden;
}

.progressBarFill.notEnoughPrivileges {
    background-color: rgba(100, 100, 100, 1);
}

.notEnoughPrivileges * {
    color: rgba(100, 100, 100, 1);
}

.progressBarFill {
    display: block;
    height: 100%;
    background-color: rgba(200,200,200,1);
}
