:root {
    --sidebar-hover: #17194d;
    --sidebar-active: #27275f;
    --sidebar-icon: #bbb;
    --sidebar-icon-active: #fff;
}

.sidebar {
    transition: all 0.3s ease;
    position: relative;
    width: 64px;
    height: 100vh;
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.0rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    flex-shrink: 0;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.button {
    border: none;
    color: var(--sidebar-icon);
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    transition: background-color 0.2s, color 0.2s;
}

.button:hover {
    background-color: var(--sidebar-hover);
    color: var(--sidebar-icon-active);
}

/* Highlight active link */
.button.active {
    background-color: var(--sidebar-active);
    color: var(--sidebar-icon-active);
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

    .sidebar {
        width: 100%;
        height: 10%;
        padding: 0.5rem 0;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: rgb(var(--oxford-blue));
        z-index: 1000;
    }

    .logo {
        display: none;
    }

    .button {
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
        align-items: center;
        justify-content: center;
        border-radius: 1.5rem;
        transition: background-color 0.2s, color 0.2s;
    }

    .button * {
        width: 30%;
        height: 30%;
    }
}
