.movieGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 180px));
    gap: 1.2rem;
    justify-items: center;
}

@media only screen and (max-width: 430px) {
    .movieGrid {
        grid-template-columns: repeat(3, minmax(50px, 1fr));
        gap: 0.9rem;
    }
}
