.body {
    background-color: var(--chocolate-cosmos);
    margin: 0;
}

.searchWrapper {
    display: flex;
    justify-content: center; /* centers horizontally */
    margin-bottom: 2rem;
    margin-top: 2rem;
}

/* Movies component should handle its own grid layout */
