:root {
    --chocolate-cosmos: #4c212aff;
    --oxford-blue: #01172fff;
    --caribbean-current: #00635dff;
    --moonstone: #08a4bdff;
    --neon-blue: #446df6ff;
}
/* https://coolors.co/4c212a-01172f-00635d-08a4bd-446df6 */
