:root {
    --sidebar-hover: #17194d;
    --sidebar-active: #27275f;
    --sidebar-icon: #bbb;
    --sidebar-icon-active: #fff;
}

.sidebar {
    position: relative;
    width: 64px;
    height: 100vh;
    padding: 2rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.0rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    flex-shrink: 0;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
    color: #f0f0f0;
    margin-bottom: 2rem;
}

.button {
    border: none;
    color: var(--sidebar-icon);
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    transition: background-color 0.2s, color 0.2s;
}

.button:hover {
    background-color: var(--sidebar-hover);
    color: var(--sidebar-icon-active);
}

/* Highlight active link */
.button.active {
    background-color: var(--sidebar-active);
    color: var(--sidebar-icon-active);
}
